.ComedyEvent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 528px) {
  .ComedyEvent {
    flex-direction: row;
  }
}
.ComedyEvent:not(:first-child) {
  border-top: none;
}

.ComedyEvent__Image {
  margin-bottom: 16px;
}
@media screen and (min-width: 528px) {
  .ComedyEvent__Image {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 528px) {
  .ComedyEvent__Info {
    margin-left: 16px;
  }
}

.ComedyEvent h3,
.ComedyEvent h4 {
  font-family: Raleway, sans-serif;
  margin: 0;
}

.ComedyEvent__When {
  font-size: 16px;
  line-height: 40px;
}

.ComedyEvent__Name {
  font-size: 28px;
  line-height: 48px;
}

.ComedyEvent__Where {
  line-height: 48px;
}
.ComedyEvent__Where > a {
  display: inline-flex;
  align-items: center;
}
.ComedyEvent__Where a > *:first-child {
  margin-right: 8px;
}

.ComedyEvent__Metro {
  color: rgba(0, 0, 0, 0.6);
  display: inline-flex;
  font-size: 20px;
  line-height: 20px;
}

.ComedyEvent__Metro > *:first-child {
  margin-right: 8px;
}

.ComedyEvent__Social {
  display: flex;
}

.ComedyEvent__Social > *:not(:last-child) {
  margin-right: 16px;
}
